<!-- <!DOCTYPE html> <html lang="ja">を削除-->
<!-- ベーステンプレートを適用する-->
{% extends 'base.html' %}
<!-- 静的ファイルのURLを生成するstaticタグをロードする-->
{% load static %}
        
<!-- Main Content-->
<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% block contents %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-4"><font size="6"><center>C言語　知識問題</center></font></div>
            <hr class="my-4" />
            <!--レコードが格納されたorderby_recordsから楽しかったレコードを1行ずつrecordに取り出す-->
            {% for record in orderby_records %}
            <!-- Post preview-->
            <div class="post-preview">
                <!--urlでURLパターン'Java_detail/<int:pk>/'を生成し、詳細ページへのリンクを設定-->
                <a href="{% url 'program:Q_detail' record.pk %}">
                    <!-- 記事のタイトル -->
                    <h2 class="post-title">
                        <!-- titleフィールドを出力-->
                        {{record.title}}</h2>
                </a>
                    <h3 class="post-subtitle">
                        <!-- サブタイトルの文字サイズを14ptにする-->
                        <span style=."font-size : 14pt">
                            <!--subtitフィールドを出力-->
                            {{record.subtit}}
                        </span>
                    </h3>
            </div>
            <hr class="my-4" />
            {% empty %}
            <p>the list is empty.</p>
            {% endfor %}<!-- forによる繰り返しはここまで-->
            <!-- Pager-->
            <!-- ページネーションが組み込まれたテンプレートの読み込み-->
            {% include "pagination1.html" %}
            <p><a href="{% url 'program:select' %}"
               class="btn btn-secondary my-2">select</a>
            </p>
        </div>
    </div>
</div>
<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% endblock %} 
<!-- Footer-->
<!-- <Footer>以下はベーステンプレートを適用するので末尾まで削除-->
